@media only screen and (min-width: 450px) {
    .desktopview{
        position: absolute;
        top: 4.5rem;
        left: 25vw;
        width: 70vw;
        height: fit-content;
        border: solid 2px black;
        z-index: 2;
    }
    
}

.card{
    background-color: black;
    opacity: .8;
    color:white;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5rem;
    font-family: 'Roboto';
    height: 4rem;
    vertical-align: middle;
    line-height: 4rem;
    text-transform: capitalize;
    width: 70%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.addbtn{
    width: 5rem;
    font-size: 3.5rem;
    color: green;
    border: none;
}
.subbtn{
    width: 5rem;
    font-size: 3.5rem;
    color: red;
    border: none;
}

